.idea
venv
/src/database/main.db
.env
/src/downloads/*
!/src/downloads/README.md
/src/dumps/*
!/src/dumps/README.md
/docker/docker.env
/logs.txt
/logs_debug.txt
/dev.db
/src/logs.txt
/src/logs_debug.txt
/blank.py
/src/debug.db
